# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Secret files
.env
*.env

# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
ENV/
.venv/

# Django-related files
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
*.sqlite3

# Media and static files
/media/
/staticfiles/
/static/

# Local settings
local_settings.py